Options -Indexes
DirectoryIndex abe.html

RewriteEngine on
RewriteBase /
RewriteRule \.git/ - [F]
RewriteRule etc/ - [F]
RewriteCond %{REQUEST_URI} ^(.*)transactions\.php
RewriteRule transactions.php %1#transactions [R,NE]
RewriteCond %{REQUEST_URI} ^(.*)import\.php
RewriteRule import.php %1#import [R,NE]
RewriteCond %{REQUEST_URI} ^(.*)saving\.php
RewriteRule saving.php %1#saving [R,NE]
RewriteCond %{REQUEST_URI} ^(.*)categories\.php
RewriteRule categories.php %1#settings/categories [R,NE]
RewriteCond %{REQUEST_URI} ^(.*)accounts\.php
RewriteRule accounts.php %1#settings/accounts [R,NE]
