Options -Indexes
DirectoryIndex abe.html

RewriteEngine on
RewriteBase /
RewriteRule \.git/ - [F]
RewriteRule etc/ - [F]
RewriteCond %{REQUEST_URI} ^(.*)(saving)\.php
RewriteRule saving.php %1#saving [R,NE]
