// Header and footer styles for Collect Your Assets

body > header {
	background-color: $green;
	color: #fff;
	@extend %flex-container-center;
	padding: 0 .5em;
	height: 1.55em;
	//position: fixed;
	//top: 0;
	//left: 0;
	//right: 0;
	//z-index: 1;

	.back {
		@extend %flex-item-grow;

		a {
			@extend %fa-replaced;

			&:before {
				color: #fff;
				content: "\f00a";
			}
		}
	}
	.actions {
		@extend %flex-item-fixed;

		a {
			@extend %fa-replaced;

			&:before {
				margin-left: .25em;
				color: #fff;
				content: "\f29c";
			}
		}
		a.add:before {
			content: "\f067";
		}
		a.bookmark:before {
			content: "\f02e";
		}
		a.filter:before {
			content: "\f05b";
		}
		a.import:before {
			content: "\f093";
		}
	}
}

h1 {
	font-weight: normal;
	position: absolute;
	display: inline-block;
	white-space: nowrap;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	color: #fff;
	margin: 0;
	padding: 0;
	line-height: 1.55em;
}

#menuPane {
	display: none;
	border-bottom: 2px solid $green;
	@media (min-width: 35em) {
		position: absolute;
		width: 18em;
		background-color: $medgreyblue;
		border-right: 2px solid $green;
		border-radius: 0 0 $gentlecorner 0;
	}
}

#newBookmark {
	display: none;
	position: absolute;
	width: 14.25em;
	z-index: 1;
	right: 0;
	background-color: $medgreyblue;
	border: 2px solid $green;
	border-top: none;
	border-right: none;
	border-radius: 0 0 0 $gentlecorner;
	padding: 0 .25em .25em;
	input {
		display: block;
		margin: .25em 0;
		width: calc(100% - .5em);
	}
}

#copyright {
	text-align: right;
	margin: 1em .5em .25em;
	font-size: .8em;
}
