// Header and footer styles for Abe Personal Finance

#abe {
	@extend %flex-container-vertical;
	min-height: 100vh;
}

body > header,
#abe > header {
	background-color: $green;
	color: #fff;
	@extend %flex-container-center;
	padding: 0 .5em;
	height: 1.55em;
	flex: 0 0 auto;

	.back {
		@extend %flex-item-grow;

		a {
			@extend %fa-replaced;

			&:before {
				color: #fff;
				content: "\f00a";
			}
		}
	}
	.actions {
		@extend %flex-item-fixed;

		a {
			@extend %fa-replaced;
			margin-left: .25em;

			&:before {
				margin-left: .25em;
				color: #fff;
				content: "\f29c";
			}
		}
		a.add:before {
			content: "\f067";
		}
		a.addAlt:before {
			content: "\f0fe";
		}
		a.bookmark:before {
			content: "\f02e";
		}
		a.filter:before {
			content: "\f05b";
		}
		a.import:before {
			content: "\f093";
		}
	}
}

h1 {
	font-weight: normal;
	position: absolute;
	display: inline-block;
	white-space: nowrap;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	color: #fff;
	margin: 0;
	padding: 0;
	line-height: 1.55em;
}

#newBookmark {
	display: none;
	position: absolute;
	width: 14.25em;
	z-index: 1;
	top: 1.55em;
	right: 0;
	background-color: $medgreyblue;
	color: #000;
	border: 2px solid $green;
	border-top: none;
	border-right: none;
	border-radius: 0 0 0 $gentlecorner;
	padding: 0 .25em .25em;
	input {
		display: block;
		margin: .25em 0;
		width: calc(100% - .5em);
	}
}

#abe > footer {
	@extend %flex-container;
	margin: auto .5em .25em;
	padding-top: 1em;
	font-size: .8em;
	#errorToast {
		position: absolute;
		bottom: 2em;
		border: 3px solid $red;
		border-left: none;
		background-color: #fff;
		border-radius: $gentlecorner;
		padding: .125em .25em;
		@extend %flex-container-baseline;
		&:before {
			@extend %fontawesome;
			color: #fff;
			background-color: $red;
			padding-right: 3px;
			content: "\f06a";
			margin: -.125em .375em -.125em -.25em;
			padding: .125em .5em;
		}
		a {
			color: $darkgrey;
			&:hover {
				color: $red;
			}
		}
	}
	div.errors {
		position: absolute;
		bottom: 1.3em;
		border: 3px solid $red;
		border-top: none;
		border-radius: $gentlecorner $gentlecorner $gentlecorner 0;
		background-color: #fff;
		header {
			@extend %flex-container-baseline;
			padding: 0 .25em;
			background-color: $red;
			color: #fff;
			a {
				color: #fff;
			}
		}
		ol {
			list-style-type: none;
			margin: 0;
			padding: 0;
			max-height: calc(100vh - 3.5em);
			overflow-y: auto;
		}
		li {
			@extend %flex-container-baseline;
			padding: .125em .25em;
			&:not(:first-child) {
				border-top: 1px solid $red;
			}
			a {
				color: $darkgrey;
				&:hover {
					color: $red;
				}
			}
		}
	}
	#errorToast,
	div.errors {
		a {
			@extend %fa-replaced;
			@extend %flex-item-fixed;
			&:first-child {
				margin-left: auto;
			}
			&.minimize:before {
				content: "\f2d1";
				padding: 0 .25em;
			}
			&.close:before {
				content: "\f00d";
				padding-left: .25em;
			}
		}
	}
	a.errors {
		color: #fff;
		text-decoration: none;
		background-color: $red;
		border-radius: $gentlecorner;
		padding: 0 .25em;
		&:before {
			@extend %fontawesome;
			content: "\f06a";
			margin-right: .25em;
		}
	}
}

#copyright {
	margin-left: auto;
}
