// Styles for the Abe Personal Finance account list page (/accounts.php)

#accountlist {
	.account {
		margin: 1em .5em;
		background-color: $lightgreyblue;
		border-radius: $gentlecorner;
		box-shadow: 2px 2px 1px $darkgrey;
		@media (min-width: 55.5em) {
			display: inline-block;
			width: calc(50% - 1.25em);
			margin-bottom: .0625em;
		}
		@media (min-width: 78em) {
			width: calc(33.33% - 1.1875em);
		}
		@media (min-width: 102em) {
			width: calc(25% - 1.125em);
		}
		h2 {
			color: #fff;
			background-color: $blue;
			padding: .25em .5em;
			margin: 0;
			border-radius: $gentlecorner $gentlecorner 0 0;
			@extend %ellipsis;
		}
		&.closed {
			box-shadow: none;
			color: $darkgrey;
			background-color: transparent;
			h2 {
				color: $blue;
				background-color: transparent;
			}
		}
	}
	.lastupdate {
		font-style: italic;
		font-size: .8em;
	}
	.lastupdate:before {
		@extend %fa-label;
		font-style: normal;
	}
	.creditvisa .lastupdate:before {
		@extend %icon-visa;
	}
	.creditmc .lastupdate:before {
		@extend %icon-mastercard;
	}
	.credit .lastupdate:before {
		@extend %icon-credit;
	}
	.checking .lastupdate:before {
		@extend %icon-checking;
	}
	.savings .lastupdate:before {
		@extend %icon-savings;
	}
	.detail {
		@extend %flex-container;
		margin: .25em 0;
		padding: 0 .5em;
	}
	.balance {
		@extend %flex-item-grow;
		text-align: right;
	}
	.actions {
		margin: .25em 0;
		padding: 0 .5em .25em;
		text-align: right;
		a {
			@extend %fa-replaced;
			&:before {
				font-size: .9em;
				color: $darkgrey;
				margin-left: .5em;
			}
			&:hover:before {
				color: $green;
			}
			&.transactions:before {
				content: "\f0ae";
			}
			&.bank:before {
				content: "\f19c";
			}
			&.import:before {
				content: "\f093";
			}
		}
	}
}
