#categories {
	@extend %flex-item-fill;
}
@media (min-width: 35em) {
	#categories {
		display: -webkit-flex;
		display: flex;
	}
}
#categorygroups,
#groupcategories {
	margin: 0;
	padding: 1em .5em .25em;
	list-style-type: none;
	li {
		padding: .125em .5em .125em .25em;
		@extend %flex-container;
		.name {
			@extend %flex-item-grow;
		}
		.actionspacer {
			width: 3em;
		}
	}
}
#categorygroups {
	padding-right: 0;
	@extend %flex-item-fixed;
	li {
		cursor: pointer;
		border-radius: $gentlecorner 0 0 $gentlecorner;
		&.selected {
			background-color: $lightgreyblue;
		}
		&.droptarget {
			background-color: #fff;
		}
		input {
			@extend %flex-item-fill;
			width: 5.5em;
		}
	}
}
#groupcategories {
	@extend %flex-item-grow;
	background-color: $lightgreyblue;
	padding-left: 1em;
	border-radius: 0 0 0 $gentlecorner;
	.dragging {
		opacity: .4;
	}
}
