// styles for the Abe Personal Finance main menu (/index.php)

#bookmarks {
	margin: 1em .5em .5em;
	text-align: center;
	& > div {
		display: inline-block;
		text-align: left;
		background-color: $lightgreyblue;
		box-shadow: 2px 2px 1px $darkgrey;
		border-radius: $gentlecorner;
	}
	header {
		background-color: $blue;
		color: #fff;
		padding: .0625em .5em .125em;
		border-radius: $gentlecorner $gentlecorner 0 0;
		&:before {
			@extend %fontawesome;
			display: inline-block;
			padding-right: .5em;
			font-size: .9em;
			content: "\f02e";
		}
	}
	div.bookmark {
		@extend %flex-container;
		padding: .25em .5em;
	}
	a {
		@extend %flex-item-fixed;
		text-decoration: none;
		&:before {
			@extend %fontawesome;
			display: inline-block;
			padding-left: .5em;
			font-size: .9em;
		}
		&.spending:before {
			content: "\f200";
		}
		&.transactions:before {
			content: "\f0ae";
		}
		&:first-child {
			@extend %flex-item-grow;
			padding-right: .5em;
		}
		&:first-child:before {
			padding-left: 0;
			padding-right: .5em;
			color: $green;
		}
	}
}

#mainmenu {
	text-align: center;
	margin: .5em 0;
	a {
		display: inline-block;
		width: 6em;
		text-align: center;
		background-color: $lightgreyblue;
		box-shadow: 2px 2px 1px $darkgrey;
		margin: .5em;
		padding: .25em .5em;
		border-radius: $gentlecorner;
		text-decoration: none;
		&:before {
			@extend %fontawesome;
			display: block;
			font-size: 2em;
			padding: .25em 0;
		}
		&[href$='import.php']:before,
		&[href^='#import']:before {
			content: "\f093";
		}
		&[href$='categories.php']:before,
		&[href^='#settings']:before {
			content: "\f085";
		}
		&[href$='saving.php']:before,
		&[href^='#saving']:before {
			content: "\f024";
		}
		&[href$='spending.php']:before {
			content: "\f200";
		}
		&[href$='transactions.php']:before {
			content: "\f0ae";
		}
	}
}
