@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), local('Roboto-Regular'), url(Roboto-Regular.woff);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(Roboto-Bold.woff);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: roboto;
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Bold'), local('Roboto-Italic'), url(Roboto-Italic.woff);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: monda;
  font-weight: bold;
  src: url(Monda-Bold.woff);
}
@font-face {
  font-family: inconsolata;
  src: url(InconsolataGo-Regular.woff);
}
@font-face {
  font-family: fontawesome;
  src: url(fontawesome-webfont.woff);
}

body {
  background-color: #ccd;
  padding: 0;
  margin: 0;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: 100%;
  font-family: roboto;
  font-size: 1.4em;
}

h2, h3, h4, h5, h6 {
  /*font-family: monda;*/
  font-size: 1em;
}
h1 {
  font-weight: normal;
  font-size: 1em;
  position: absolute;
  display: inline-block;
  white-space: nowrap;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.55em;
}
h2,
p {
  margin: 1em .5em;
}

a:link,
a:visited {
  color: #593;
}
input, select, textarea, button {
  font-family: inherit;
  font-size: inherit;
}

.balance,
.amount {
  /*font-family: inconsolata;*/
}

label {
  display: block;
  margin: .5em;
}
label span.label {
  display: block;
}
label span.field {
  display: block;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
label span.field input:not([type="checkbox"]),
label span.field select {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
button {
  display: inline-block;
  margin: .5em;
}

.loading:before,
.working:after {
  font-family: fontawesome;
  font-size: .9em;
  color: #999;
  display: inline-block;
  content: "\f110";
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.calltoaction .working:after {
  color: #ccc;
}
.loading:before {
  margin-right: .5em;
}
.working:after {
  margin-left: .5em;
}

.calltoaction {
  text-align: center;
}
.calltoaction a {
  display: inline-block;
  white-space: nowrap;
  margin: 1em auto;
  background: #593;
  color: #fff;
  padding: .25em 1em;
  text-decoration: none;
  border-radius: .25em;
}

/*------------------------------------------------[ page header and footer ]--*/
body > header {
  background-color: #593;
  color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 .5em;
  height: 1.55em;
  /*position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;*/
}
body > header .back {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
body > header .back a span {
  display: none;
}
body > header .back a:before {
  font-family: fontawesome;
  font-size: 1.5em;
  color: #fff;
  display: inline-block;
  content: "\f104";
}
body > header .actions a span {
  display: none;
}
body > header .actions a:before {
  font-family: fontawesome;
  color: #fff;
  display: inline-block;
  margin-left: .25em;
  content: "\f29c";
}
body > header .actions a.add:before {
  content: "\f067";
}
body > header .actions a.import:before {
  content: "\f093";
}

#copyright {
  text-align: right;
  margin: 1em .5em .25em;
  font-size: .8em;
}

/*------------------------------------------------------------[ front page ]--*/
#last3trans {
  margin: 1em .5em;
  background-color: #ccd;
  border-radius: .25em;
  -webkit-filter: drop-shadow(2px 2px 1px #999);
  filter: drop-shadow(2px 2px 1px #999);
}
#last3trans h2 {
  color: #fff;
  background-color: #e73;
  padding: .25em .5em;
  margin: 0;
  border-radius: .25em .25em 0 0;
}
#alltrans {
  background-color: #eef;
  padding: .25em .5em;
  border-radius: 0 0 .25em .25em;
}

/*--------------------------------------------------------------[ accounts ]--*/
#accountlist .account {
  margin: 1em .5em;
  background-color: #eef;
  border-radius: .25em;
  -webkit-filter: drop-shadow(2px 2px 1px #999);
  filter: drop-shadow(2px 2px 1px #999);
}
#accountlist h2 {
  color: #fff;
  background-color: #e73;
  padding: .25em .5em;
  margin: 0;
  border-radius: .25em .25em 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#accountlist .lastupdate:before {
  font-family: fontawesome;
  color: #999;
  display: inline-block;
  margin-right: .5em;
  font-style: normal;
}
#accountlist .creditvisa .lastupdate:before {
  content: "\f1f0";
}
#accountlist .creditmc .lastupdate:before {
  content: "\f1f1";
}
#accountlist .credit .lastupdate:before {
  content: "\f283";
}
#accountlist .checking .lastupdate:before {
  content: "\f0d6";
  font-size: 1.05em;
}
#accountlist .savings .lastupdate:before {
  content: "\f0b1";
  font-size: 1.05em;
}
#accountlist .detail {
  margin: .25em 0;
  padding: 0 .5em;
  display: -webkit-flex;
  display: flex;
}
#accountlist .lastupdate {
  font-style: italic;
  font-size: .8em;
}
#accountlist .balance {
  text-align: right;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
#accountlist .actions {
  margin: .25em 0;
  padding: 0 .5em .25em;
  text-align: right;
}
#accountlist .actions a span {
  display: none;
}
#accountlist .actions a:before {
  font-family: fontawesome;
  font-size: .9em;
  color: #999;
  display: inline-block;
  margin-left: .5em;
  content: "\f29c";
}
#accountlist .actions a:hover:before {
  color: #593;
}
#accountlist .actions a.transactions:before {
  content: "\f0ae";
}
#accountlist .actions a.bank:before {
  content: "\f19c";
}
#accountlist .actions a.import:before {
  content: "\f093";
}
#accountlist .actions a.edit:before {
  content: "\f044";
}

/*----------------------------------------------------------[ transactions ]--*/
#transactions {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#transactions header {
  text-align: right;
  padding: .25em .5em 0;
}
#transactions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#transactions li.transaction {
  background-color: #eef;
  margin: 1px 0;
  padding: .25em .5em .5em;
  display: -webkit-flex;
  display: flex;
}
#transactions li.transaction div {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
#transactions li.transaction div.amount {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
#transactions li.transaction .category {
  font-size: .8em;
}
#transactions .amount:after {
  font-family: fontawesome;
  font-size: .9em;
  display: inline-block;
  color: #999;
  margin-left: .25em;
}
#transactions .creditvisa .amount:after {
  content: "\f1f0";
}
#transactions .creditmc .amount:after {
  content: "\f1f1";
}
#transactions .credit .amount:after {
  content: "\f283";
}
#transactions .checking .amount:after {
  content: "\f0d6";
  font-size: 1.05em;
}
#transactions .savings .amount:after {
  content: "\f0b1";
  font-size: 1.05em;
}
#transactions li.loading {
  padding: .25em .5em;
}
